<form id="quiz1">

<h2>What is Charlotte's favourite colour?</h2>
<label for="var_string"><input type="radio" name="variable" value="0" id="var_string" />Black</label>
<label for="var_join"><input type="radio" name="variable" value="0" id="var_join" />Purple</label>
<label for="var_info"><input type="radio" name="variable" value="1" id="var_info" />Blue</label>
<label for="var_condition"><input type="radio" name="variable" value="0" id="var_condition"/>Pink</label>

<h2>How old is Charlotte?</h2>
<label for="sub_string"><input type="radio" name="sub" value="0" id="sub_string"/>16</label>
<label for="sub_join"><input type="radio" name="sub" value="0" id="sub_join"/>17</label>
<label for="sub_info"><input type="radio" name="sub" value="1" id="sub_info" />18</label>
<label for="sub_condition"><input type="radio" name="sub" value="0" id="sub_condition" />19</label>

<h2>What is Charlotte's favourite pet animal?</</h2>
<label for="cat_string"><input type="radio" name="con" value="0" id="cat_string" />Cat</label>
<label for="cat_join"><input type="radio" name="con" value="1" id="cat_join" />Dog</label>
<label for="cat_info"><input type="radio" name="con" value="0" id="cat_info" />Hamster</label>
<label for="cat_condition"><input type="radio" name="con" value="0" id="cat_condition" />Fish</label>

<h2>Where does Charlotte work?</h2>
<label for="if_string"><input type="radio" name="ifstate" value="0" id="if_string" />McDonalds</label>
<label for="if_join"><input type="radio" name="ifstate" value="0" id="if_join" />Burger King</label>
<label for="if_info"><input type="radio" name="ifstate" value="0" id="if_info" />Tesco</label>
<label for="if_condition"><input type="radio" name="ifstate"  value="1" id="if_condition" />Subway</label>

<button type="submit" value="Submit">Submit</button>

</form>
