<!doctype html>
<html lang="en">
<head>
  <title>Bright Sparks!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
{% block header %}
  <h1>{% block title %}Learn the best. Be the best{% endblock %}</h1>
{% endblock %}
{% block content %}

  <h3> You have scored {{ score }}</h3>
  {% endblock %}
</body>
</html>
